.bg-black-opacity {
    background-color: rgba(0, 0, 0, 0.8);
    /* Change the last value (0.5) to adjust the opacity */
}

.text-decoration {
    text-decoration: none;
}

.text-decoration:hover {
    color: rgb(248, 144, 7);
}

#scroll-container::-webkit-scrollbar {
    display: none;
}

@media(max-width:820px) {
    .hederbottom {
        display: none;
    }
}